a,
a:focus,
a:hover {
    color: #fff;
}
html,
body {
    height: 100%;
    background-size : 100% auto;
    background-color: #dbdbdb;
    background-opacity: 0.4;
    color: rgba(82,82,122,0.5);;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.paragraph-wrapper {
    text-align: left;
    color: #000000;
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

